$bg: rgb(16, 16, 16);

.react-multiple-carousel__arrow--right {
  right: 5px !important;
}

.react-multiple-carousel__arrow--left {
  left: 5px !important;
}



.banner {
  height: 600px;
  background-color: $bg;
  position: relative;

  .banner-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s;


    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      background: $bg;
      opacity: 0.3;
    }

    h1,
    p {

      color: white;
      font-size: 3rem;
      z-index: 10;
      text-align: center;
    }

    h1 {

      padding: 3.5rem
    }

    p {

      margin-top: 3rem;
      padding: 3rem;
      width: 50%;
      font-size: 1.2rem;
      letter-spacing: 1px;
      word-spacing: 3px;
      font-weight: 400;

    }

    >div {
      display: flex;

      button {
        padding: 1rem;
        width: 150px;
        outline: none;
        border: none;
        z-index: 13;
        border-radius: 5px;
        margin: 3rem;
        cursor: pointer;
        font-size: 1.2rem;
        display: flex;
        transition: all 0.5s;
        z-index: 14;

        &:hover {
          opacity: 0.6;
        }

        &:nth-child(odd) {
          background-color: white;
          color: black;
          align-items: flex-start;

        }

        &:nth-child(even) {
          background-color: rgb(57, 57, 57);
          color: rgb(255, 255, 255);
          align-items: flex-start;
        }

        svg {
          font-size: 1.7rem;
          margin: 0 10px;
        }
      }
    }
  }

  .fade {
    height: 2rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

}


@media (max-width: 768px) {

  .banner {
    .banner-item {
      h1 {
        padding: 2.5rem
      }

      p {

        width: 80%;
        font-size: 1.2rem;
      }

      >div {

        button {
          padding: 0.8rem;
          width: 135px;
          z-index: 13;
          font-size: 1.1rem;

          svg {
            font-size: 1.2rem;

          }
        }
      }

    }
  }
}

@media (max-width: 496px) {
  .banner {

    .banner-item {

      h1 {
        width: 80%;
        padding: 3rem
      }

      p {
        margin-top: 1rem;
        font-size: 1rem;
      }

      >div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        button {

          font-size: 1rem;
          margin: 1rem;

          svg {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.react-multiple-carousel__arrow {
  background: transparent !important;
}

.react-multiple-carousel__arrow::before {
  font-size: 30px !important
}

.react-multiple-carousel__arrow:hover {
  background-color: rgba(0, 0, 0, 0.163) !important;
}